<div class="row  marleft" style="margin-top:40px; ">
  <div class="col m3 s12 widthfix" style="min-height: 100px; margin-top:40px;" >
    <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px;">
      <div class="col m4 s4 mat-elevation-z8 " style="margin-top:-20px; border-radius:4px; background: linear-gradient(60deg,#ffa726,#fb8c00)">
        <p class="center white-text" >
          <i class="fa fa-clone fa-2x"></i>
        </p>
      </div>
      <div class="col m8 s8">
        <h6 class="grey-text" style="text-align:right; margin-bottom:2px" >Customer</h6>
        <h5 style="text-align:right;margin-bottom:8px; margin-top: 2px">49/50 GB</h5>
      </div>
      <div class="col m12 s12" style="border-top:1px solid #d3d3d3;">
        <p class="center" style="margin-top:2px; margin-bottom: 2px"><i class="red-text fa fa-exclamation-triangle"></i> Get More Space</p>
      </div>
    </div>
  </div>
  <div class="col m3 s12" style="min-height: 100px; margin-top:40px;" >
    <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px;">
      <div class="col m4 s4 mat-elevation-z8 " style="margin-top:-20px; border-radius:4px; background: linear-gradient(60deg,#66bb6a,#43a047)">
        <p class="center white-text" >
          <i class="fa fa-shopping-basket fa-2x"></i>
        </p>
      </div>
      <div class="col m8 s8">
        <h6 class="grey-text" style="text-align:right; margin-bottom:2px">Item</h6>
        <h5 style="text-align:right; margin-bottom:8px; margin-top: 2px">$34,245 </h5>
      </div>
      <div class="col m12 s12" style="border-top:1px solid #d3d3d3;">
        <p class="center" style="margin-top:2px; margin-bottom: 2px"><i class="red-text fa fa-calendar"></i> Last 24 Hours</p>
      </div>
    </div>
  </div>
  <div class="col m3 s12" style="min-height: 100px; margin-top:40px;" >
    <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px;">
      <div class="col m4 s4 mat-elevation-z8 " style="margin-top:-20px; border-radius:4px; background: linear-gradient(60deg,#ef5350,#e53935)">
        <p class="center white-text" >
          <i class="fa fa-exclamation-circle  fa-2x"></i>
        </p>
      </div>
      <div class="col m8 s8">
        <h6 class="grey-text" style="text-align:right; margin-bottom:2px" >PlaceOrder Form</h6>
        <h5 style="text-align:right; margin-bottom:8px; margin-top: 2px">75</h5>
      </div>
      <div class="col m12 s12" style="border-top:1px solid #d3d3d3;">
        <p class="center" style="margin-top:2px; margin-bottom: 2px"><i class="red-text fa fa-tag"></i> Tracked from Github</p>
      </div>
    </div>
  </div>
  <div class="col m3 s12" style="min-height: 100px; margin-top:40px;" >
    <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px;">
      <div class="col m4 s4 mat-elevation-z8 " style="margin-top:-20px; border-radius:4px; background: linear-gradient(60deg,#26c6da,#00acc1)">
        <p class="center white-text" >
          <i class="fa fa-id-card fa-2x"></i>
        </p>
      </div>
      <div class="col m8 s8">
        <h6 class="grey-text"  style="text-align:right; margin-bottom:2px"  >Settings</h6>
        <h5 style="margin-bottom:8px; margin-top: 2px;text-align:right;">+280</h5>
      </div>
      <div class="col m12 s12" style="border-top:1px solid #d3d3d3;">
        <p class="center" style="margin-top:2px; margin-bottom: 2px"><i class="red-text fa fa-calendar"></i> Just Updated</p>
      </div>
    </div>
  </div>
</div>
<div class="row marleft" >
  <div class="col m4 s12 " style="margin-top:40px">
    <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px">
      <div class="col m12 s12 mat-elevation-z8" style=" margin-top: -30px; background: linear-gradient(60deg,#66bb6a,#43a047); border-radius:4px">
        <chart [type]="type" [data]="data" [options]="options"></chart>
      </div>
      <div class="col m12 s12">
        <h5>Daily Sales</h5>
        <h6>+55% Increase in Todays Sale</h6>
      </div>

      <div class="col m12 s12" style="border-top:1px solid #d3d3d3;">
        <p class="center" style="margin-top:2px; margin-bottom: 2px"><i class="material-icons left">history</i>Updated 4 mins ago</p>
      </div>
    </div>
  </div>
  <div class="col m4 s12 " style="margin-top:40px;" style="margin-top:40px;" >
    <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px">
      <div class="col m12 s12 mat-elevation-z8" style=" margin-top: -30px; background: linear-gradient(60deg,#ffa726,#fb8c00); border-radius:4px">
        <chart [type]="type1" [data]="data" [options]="options"></chart>
      </div>
      <div class="col m12 s12">
        <h5>Completed Tasks</h5>
        <h6>Last Campaign Performance </h6>
      </div>

      <div class="col m12 s12" style="border-top:1px solid #d3d3d3;">
        <p class="center" style="margin-top:2px; margin-bottom: 2px"><i class="material-icons left">history</i>Campaign sent 2 days ago</p>
      </div>
    </div>
  </div>

  <div class="col m4 s12 " style="margin-top:40px;">
    <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px">
      <div class="col m12 s12 mat-elevation-z8" style=" margin-top: -30px; background: linear-gradient(60deg,#ef5350,#e53935); border-radius:4px">
        <chart [type]="type" [data]="data" [options]="options"></chart>
      </div>
      <div class="col m12 s12">
        <h5>Email Subscriptions</h5>
        <h6>Last Campaign Performance</h6>
      </div>

      <div class="col m12 s12" style="border-top:1px solid #d3d3d3;">
        <p class="center" style="margin-top:2px; margin-bottom: 2px"><i class="material-icons left">history</i>Campaign sent 2 days ago</p>
      </div>
    </div>

  </div>
  <img src="assets/chart 02.jpeg" alt="" style="width: 1200px ; margin-left: 30px">
</div>


